.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: var(--gray-700);
}

.header h1{
    font-size: 4rem;
    color:white
}